body {
	width: 400px;
	margin: auto;
	background-color: lightgreen;
	font-family: helvetica;
	color: darkgreen;
	letter-spacing: 1px;
	word-spacing: 2px;
}
.breakfast, .lunch, .dinner {
	display: block;
	padding-top: 20px;
}
blockquote {
	margin-top: 50px;
	text-transform: uppercase;
	margin-bottom: 50px;
	margin-left: 0px;
	text-align: center;
	letter-spacing: 5px;
	word-spacing: 10px;
	font-size: 15pt;
	font-family: helvetica;
	color: darkgreen;
	font-weight: bold;
	text-shadow: 1px 1px 3px gray;
}
h1 {
	color: blue;
	letter-spacing: 4px;
	word-spacing: 8px;
	font-weight: bolder;
	font-family: helvetica;
	color: darkgreen;
}
select {
	color: darkgreen;
	font-weight: bold;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid green;
	width: 150px;
	padding-left: 20px;
	border-radius: 10px;
	background-color: lightgreen;
	height: 30px;
}
select:hover {
	background-color: white;
}